/*----------------------Font-------------------------------*/
@font-face {
  font-family: "pacificoregular";
  src: url("../font/Pacifico_web/pacifico-regular-webfont.woff2")
      format("woff2"),
    url("../font/Pacifico_web/pacifico-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "merriweatheritalic";
  src: url("../font/Merriweather_web/merriweather-italic-webfont.woff2")
      format("woff2"),
    url("../font/Merriweather_web/merriweather-italic-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "merriweatherlight";
  src: url("../font/merriweather-light-webfont.woff2") format("woff2"),
    url("../font/merriweather-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "merriweatherlight_italic";
  src: url("../font/Merriweather_web/merriweather-lightitalic-webfont.woff2")
      format("woff2"),
    url("../font/Merriweather_web/merriweather-lightitalic-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "merriweatherregular";
  src: url("../font/Merriweather_web/merriweather-regular-webfont.woff2")
      format("woff2"),
    url("../font/Merriweather_web/merriweather-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "merriweatherblack";
  src: url("../font/Merriweather_web/merriweather-black-webfont.woff2")
      format("woff2"),
    url("../font/Merriweather_web/merriweather-black-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "merriweatherblack_italic";
  src: url("../font/Merriweather_web/merriweather-blackitalic-webfont.woff2")
      format("woff2"),
    url("../font/Merriweather_web/merriweather-blackitalic-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "merriweatherbold";
  src: url("../font/Merriweather_web/merriweather-bold-webfont.woff2")
      format("woff2"),
    url("../font/Merriweather_web/merriweather-bold-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "merriweatherbold_italic";
  src: url("../font/Merriweather_web/merriweather-bolditalic-webfont.woff2")
      format("woff2"),
    url("../font/Merriweather_web/merriweather-bolditalic-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
/*---------------------reset css--------------------------*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.container {
  background-image: url("../img/background-blue.jpg");
}
/*---------------------Root------------------------------*/
:root {
  --titleSize: 2rem;
  --titleCard: 1.5rem;
  --mainColor: hsla(197, 98%, 22%, 1);
  --darkenColor: hsla(197, 98%, 12%, 1);
}
/*---------------------STYLE MENU DESKTOP----------------*/
.navbar-desktop {
  height: 8rem;
  line-height: 8rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.navbar-desktop a {
  font-size: 1.5rem;
  font-weight: 800;
  color: white;
  position: relative;
  text-decoration: none;
  font-family: "merriweatherbold";
}
.navbar-desktop a::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: white;
  position: absolute;
  top: 90px;
  left: 0;
  transform-origin: 100% 0;
  transform: scaleX(0);
  transition: transform 0.4s;
}
.navbar-desktop a:hover::after {
  transform-origin: 0 0;
  transform: scale(1);
}
/*--------------------STYLE MENU MOBILE--------------------*/
.navbar-mobile {
  display: none;
}
.navbar-mobile i {
  position: fixed;
  z-index: 9999;
  top: 9px;
  right: 15px;
  font-size: 3rem;
  color: white;
}
.modal {
  transition: top 0.9s;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 100vh;
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100%;
  opacity: 0.9;
}
.navbar-mobile .navbar-mobile-list {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navbar-mobile .navbar-mobile-list a {
  font-size: 1.5rem;
  font-weight: 800;
  color: white;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  font-family: "merriweatherbold";
}
.navbar-mobile .navbar-mobile-list a::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: white;
  display: inline-block;
  transform-origin: 100% 0;
  transform: scaleX(0);
  transition: transform 0.4s;
}
.navbar-mobile .navbar-mobile-list a:hover::after {
  transform-origin: 0 0;
  transform: scale(1);
}
.change-modal {
  top: 0;
}
/*-------------------------HOME------------------------*/
#home {
  display: flex;
  justify-content: space-around;
}
.picture-container {
  display: flex;
  justify-content: flex-end;
  padding: 50px 20px;
  width: 50%;
}
.picture {
  width: 300px;
  height: 300px;
}
.picture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-container {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
.title {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.title h1 {
  font-size: var(--titleSize);
  font-family: "pacificoregular";
  padding: 10px;
}
.title h2 {
  font-size: var(--titleSize);
  font-family: "merriweatherbold";
}
.paragraphe {
  padding: 10px;
  color: white;
  text-align: justify;
  font-size: 1.2rem;
  font-family: "merriweatherregular";
  width: 50%;
}
.paragraphe > p::first-letter {
  font-family: "pacificoregular";
  font-size: 1.6rem;
}
/*---------------------------FRONT-Project------------------*/
#front {
  background-color: #f1f1f1;
  padding: 20px 0px;
}
.title-section {
  display: flex;
  justify-content: center;
  padding: 15px 0px;
  width: 100%;
}
.front-title {
  color: hsla(197, 98%, 22%, 1);
  font-size: var(--titleSize);
  font-family: "merriweatherbold";
}
.card-show {
  display: flex;
  justify-content: space-around;
  flex-wrap: row;
}
.card-container {
  margin: 15px 0;
  border: solid 2px var(--darkenColor);
  border-radius: 15px;
}
.card-project {
  width: 300px;
}
.project-picture {
  height: 100px;
}
.project-picture img {
  width: 100%;
  height: 100%;
  border-radius: 14px;
}
.card-body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card-body > h3 {
  font-size: var(--titleCard);
  font-family: "merriweatherbold";
  padding: 15px 0px;
  color: var(--mainColor);
}
.project-description {
  text-align: justify;
  padding: 15px 0px;
}
.project-description p {
  padding: 10px;
}
.tech {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.vignette {
  background-color: var(--darkenColor);
  margin: 10px 10px;
  padding: 5px;
  width: 100px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}
.vignette p {
  color: #f2f2f2;
}
.more {
  margin: 15px 0px;
}
.more a {
  color: var(--darkenColor);
  transition: 0.4s;
}
.more a::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--darkenColor);
  display: inline-block;
  transform-origin: 100% 0;
  transform: scaleX(0);
  transition: transform 0.4s;
}
.more a:hover::after {
  transform-origin: 0 0;
  transform: scale(1);
}
/*---------------------------Back-----------------*/
#back {
  padding: 20px 0px;
}
.back-title {
  color: white;
  font-size: var(--titleSize);
  font-family: "merriweatherbold";
}
/*---------------------------MEDIAQUERIES-------------------*/
@media screen and (max-width: 768px) {
  .navbar-desktop {
    display: none;
  }
  .navbar-mobile {
    display: block;
  }
  #home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .picture-container {
    width: 100%;
    justify-content: center;
  }
  .paragraphe {
    width: 80%;
  }
  .picture {
    width: 200px;
    height: 200px;
  }
  #front {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-show {
    flex-direction: column;
  }
}
