/*----------------------Font-------------------------------*/
@font-face {
  font-family: "pacificoregular";
  src: url("../font/Pacifico_web/pacifico-regular-webfont.woff2")
      format("woff2"),
    url("../font/Pacifico_web/pacifico-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "merriweatheritalic";
  src: url("../font/Merriweather_web/merriweather-italic-webfont.woff2")
      format("woff2"),
    url("../font/Merriweather_web/merriweather-italic-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "merriweatherlight";
  src: url("../font/merriweather-light-webfont.woff2") format("woff2"),
    url("../font/merriweather-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "merriweatherlight_italic";
  src: url("../font/Merriweather_web/merriweather-lightitalic-webfont.woff2")
      format("woff2"),
    url("../font/Merriweather_web/merriweather-lightitalic-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "merriweatherregular";
  src: url("../font/Merriweather_web/merriweather-regular-webfont.woff2")
      format("woff2"),
    url("../font/Merriweather_web/merriweather-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "merriweatherblack";
  src: url("../font/Merriweather_web/merriweather-black-webfont.woff2")
      format("woff2"),
    url("../font/Merriweather_web/merriweather-black-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "merriweatherblack_italic";
  src: url("../font/Merriweather_web/merriweather-blackitalic-webfont.woff2")
      format("woff2"),
    url("../font/Merriweather_web/merriweather-blackitalic-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "merriweatherbold";
  src: url("../font/Merriweather_web/merriweather-bold-webfont.woff2")
      format("woff2"),
    url("../font/Merriweather_web/merriweather-bold-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "merriweatherbold_italic";
  src: url("../font/Merriweather_web/merriweather-bolditalic-webfont.woff2")
      format("woff2"),
    url("../font/Merriweather_web/merriweather-bolditalic-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
/*---------------------reset css--------------------------*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.container {
  background-image: url("../img/background-blue.jpg");
}
/*---------------------STYLE MENU DESKTOP----------------*/
.navbar-desktop {
  height: 8rem;
  line-height: 8rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.navbar-desktop a {
  font-size: 1.5rem;
  font-weight: 800;
  color: white;
  position: relative;
  text-decoration: none;
  font-family: "merriweatherbold";
}
.navbar-desktop a::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: white;
  position: absolute;
  top: 90px;
  left: 0;
  transform-origin: 100% 0;
  transform: scaleX(0);
  transition: transform 0.4s;
}
.navbar-desktop a:hover::after {
  transform-origin: 0 0;
  transform: scale(1);
}
/*--------------------STYLE MENU MOBILE--------------------*/
.navbar-mobile {
  display: none;
}
.navbar-mobile i {
  position: fixed;
  z-index: 9999;
  top: 9px;
  right: 15px;
  font-size: 3rem;
  color: white;
}
.modal {
  transition: top 0.9s;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 100vh;
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100%;
  opacity: 0.9;
}
.navbar-mobile .navbar-mobile-list {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navbar-mobile .navbar-mobile-list a {
  font-size: 2rem;
  font-weight: 800;
  color: white;
  padding: 2rem;
  position: relative;
  text-decoration: none;
  font-family: "merriweatherbold";
}
.navbar-mobile .navbar-mobile-list a::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: white;
  display: inline-block;
  transform-origin: 100% 0;
  transform: scaleX(0);
  transition: transform 0.4s;
}
.navbar-mobile .navbar-mobile-list a:hover::after {
  transform-origin: 0 0;
  transform: scale(1);
}
.change-modal {
  top: 0;
}
/*-------------------------HOME------------------------*/
.picture-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.picture {
  width: 200px;
  height: 200px;
}
.picture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.title-container {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
.title {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.title h1 {
  font-size: 2rem;
  font-family: "pacificoregular";
  padding: 10px;
}
.title h2 {
  font-size: 2rem;
  font-family: "merriweatherbold";
}
.paragraphe {
  padding: 10px;
  color: white;
  text-align: justify;
  font-size: 1.2rem;
  font-family: "merriweatherregular";
}
.paragraphe > p::first-letter {
  font-family: "pacificoregular";
  font-size: 1.6rem;
}
/*MEDIAQUERIES*/
@media screen and (max-width: 768px) {
  .navbar-desktop {
    display: none;
  }
  .navbar-mobile {
    display: block;
  }
}
